/* Roots and Utils */

:root {
    --raw-umber: #7e6551ff;
    --rocket-metallic: #938581ff;
    --deep-space-sparkle: #466362ff;
    --shadow-blue: #8896abff;
    --beau-blue: #c5d5e4ff;
    --cursive-font: 'Dancing Script', cursive;
    --text-font: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    font-family: var(--text-font);
    background-color: floralwhite;
}

body {
    margin: 0;
}

/* Content Layout */

.content {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* Header */

.header {
    font-family: var(--cursive-font);
    color: var(--raw-umber);
    font-size: 5em;
}

/* Navigation */

.navigation {
    color: var(--raw-umber);
    overflow: hidden;
}

.navigation-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -1px;
    padding: 16px 0;
}

.navigation-list-item {
    flex-grow: 1;
    flex-basis: auto;
    text-align: center;
    border-left: var(--raw-umber) 1px solid;
    padding: 0 16px;
}

.navigation-list-item:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
    cursor: pointer;
}

.active {
    text-decoration: underline;
    text-underline-offset: 8px;
}

/* Site Content */
.site-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0 48px;
}

.site-content p {
    margin: 0;
    padding: 4px;
}

.site-content-grid {
    width: 90vw;
    display: grid;
    grid-gap: 24px;
    grid-template-rows: repeat(auto-fill, max-content);
    grid-template-columns: repeat(auto-fill, 300px);
}

.site-content-flex {
    display: flex;
}

.menu-item {
    display: grid;
    grid-template-rows: repeat(2, minmax(1fr, max-content));
    grid-template-columns: repeat(2, minmax(1fr, max-content));
    grid-template-areas:
    "name price"
    "desc desc";
}

.menu-item-name {
    font-size: 1.2em;
    grid-area: name;
}

.menu-item-description {
    font-size: .75em;
    font-weight: lighter;
    grid-area: desc;
}

.menu-item-price {
    font-size: .75em;
    text-align: right;
    grid-area: price;
}

/* Reviews */
.review {
    width: 60vw;
    margin-top: auto;
}

.review p {
    font-family: var(--cursive-font);
}

.review-rating {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.review-author {
    padding-left: 24px;
}

/* Footer */

.footer {
    padding: 24px;
    width: 100vw;
    color: var(--raw-umber);
    font-size: .5em;
    text-align: center;
}